h1 {
    color: #8c2e2e
}

.card-body span {
    border: 1px solid #dee2e6;
    padding: 10px;
    width: 20%
}

.card {
    bottom: 100px;
}

.clock {
    font-family: Orbitron;
    letter-spacing: 7px;
    color: #8c2e2e;
    font-weight: bold;
}