<div class="weather-forcast container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row border-bottom mb-3">
        <div class="col-6">
          <h1 class="heading mt-3 mb-3"> Welcome to weather forecast </h1>
        </div>
        <div class="col-6">
          <h6 class="heading mt-3 mb-3 text-right">{{currentDate  | date: 'MMM d, y'}}</h6>
          <div id="MyClockDisplay" class="clock text-right"></div>
        </div>
      </div>
      <div *ngIf="showError" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Holy guacamole!</strong> Something went wrong. Please try again after 5 minutes.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row">
        <div class="col-6">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>City</th>
                <th>Avg. Temprature</th>
                <th>Wind</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of weatherData">
                <td>{{data.name}}</td>
                <td>{{getAverageTemprature(data.main) | number:'1.0-0'}} &#8451;</td>
                <td>{{data.wind.speed}} km/h</td>
                <td>
                  <a href="JavaScript:void(0);" (click)="getCityWeather(data.id)">more</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-5">
          <div [chart]="chart"></div>
        </div>
      </div>
      <div *ngIf="selectedCity" class="row mt-2">
        <div class="col-6">
          <div class="card">
            <h5 class="card-header">
              Full day weather forecast - <strong>{{selectedCity}}</strong>
            </h5>
            <div class="card-body">
              <div class="col-12 d-flex">
                <span><strong>Time</strong></span>
                <span *ngFor="let item of timeData">{{item}}</span>
              </div>
              <div class="col-12 d-flex">
                <span><strong>Temp.</strong></span>
                <span *ngFor="let item of temperatureData">{{item}} &#8451;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>